* {
    font-family: "Roboto", sans-serif;

}

img {
    max-width: 100%;
    height: auto;
}


#hero {
    background: linear-gradient(#2e2e2e2e, #34333359), url(./image/image2.jpg);
    background-size: cover;
    background-position: center;
}

.line {
    height: 4px;
    width: 60px;
    background-color: rgb(22, 22, 158);
    margin: 0px auto;
}

.section-title p {
    max-width: 500px;
    margin: 0px auto;

}

.iconbox {
    width: 60px;
    height: 60px;
    background-color: rgb(121, 148, 237);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    flex: none;
}

.image {
    height: 600px;
    width: 400px;
}


.iconbox-services {
    width: 60px;
    height: 60px;
    background-color: rgb(121, 148, 237);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
}
 

.services-para{
    width: 500px;
    margin: 20px auto 40px auto;
    
}


/* Services hover animation */

.services{
    position: relative;
    overflow: hidden;
   
}

.services::after{
    content: "";
    width: 40px;
    height: 40px;
    background-color: rgb(121, 148, 237);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.5s;
    z-index: -1;
}

.services:hover::after{
    width: 100%;
    height: 100%;
    background-color: rgb(34, 233, 87);
}

.services:hover h3,
.services:hover p{
    color: white;
    transition: 0.3s;
}

.services:hover .iconbox-services{
    background-color: white;
    transition: 1s;
}

#counter{
    background-image:linear-gradient(#0000007b,#0000007a), url(./image/counter.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:300px ;
}

/* Portfolio hover section */
.portfolio-opa{
    transition: 0.5s;
}

.portfolio-opa:hover{
    
    transform: scale(1.1);

}

/* portfoloi Margin */
.port{
    margin-top: 150px;
    margin-bottom: 150px;
}


/* Testimonial */
.bg-testimonial{
    background-color: hsla(0, 25%, 97%, 0.892);
}
.testi-img{
    width: 60px;
    height: 60px;
    

}

.testi{
    position: relative;
}

.testi::after{
    content: "";
    height: 30px;
    width: 30px;
    background-color: white;
    position: absolute;
    bottom: -9px;
    left: 22px;
    transform: rotate(45deg);
}





/* --------team---------- */
.team-item{
    height: 55vh;
    position: relative;
    overflow: hidden;
    
}


.team-img{
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.team-img:hover{
    transform: scale(1.1);
    
}


.team-about{
  
    position: absolute;
    left: 50%;
    bottom: -17%;
    transform: translateX(-50%);
    transition: 0.5s;
    
}

.team-item:hover .team-about{
    bottom: 15%;
}


/*----------Footer------ */
.liner{
    height: 4px;
    width: 60px;
    background-color: rgb(22, 22, 158);
    margin-top: 5px;
    margin-bottom: 5px;


}

.blog-margin{
    padding-top:140px;
    padding-bottom: 5px;

}


/* Loader */
#loader{
    background:#ffffff url("https://loading.io/assets/mod/spinner/spinner/lg.gif") no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10;

}


